<ion-view id="content">
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar" ng-repeat="x in data.marcadores"  href="#/app/detallesFarma" ng-click="detalle({{x.id}})">
				<img class=" {{bounce(x.id) && 'beat animateImage'  || 'animateImage'}}" 
					ng-src="{{bounce(x.id) && '../img/cruzAzul.png' || '../img/cruzRoja.png'}}">
				<div class="animateText">
					<h2><b>{{x.nombre}}</b></h2>
					{{x.direccion}}
					<br>
					Tel: {{x.telefono}}
					<br>
					Lunes a Viernes de {{x.horario.lv[0].start1|date:'HH'}} a {{x.horario.lv[1].end1|date:'HH'}}

					
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>